{% extends "core/base.html" %}

{% block title %}Estadisticas{% endblock title %}


{% block content %}

<div class="row">
    <div class="col-md-2 col-sm-12">
        <h2>IMPORTANTE</h2>
        <p>Los datos pueden estar desfazados por minutos comparado a como esta actualmente.</p>
    </div>
    <div class="col-md-3 col-sm-12 text-center">
        <table class="table table-striped table-hover table-bordered">
            <h3>Estado de disponibilidad por hora actual</h3>
            <thead>
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">6:00 - 7:00</th>
                    <td> {{ disp_actual.0 }} </td>
                </tr>
                <tr>
                    <th scope="row">7:00 - 8:00</th>
                    <td> {{ disp_actual.1 }} </td>
                </tr>
                <tr>
                    <th scope="row">8:00 - 9:00</th>
                    <td> {{ disp_actual.2 }} </td>
                </tr>
                <tr>
                    <th scope="row">9:00 - 10:00</th>
                    <td> {{ disp_actual.3 }} </td>
                </tr>
                <tr>
                    <th scope="row">10:00 - 11:00</th>
                    <td> {{ disp_actual.4 }} </td>
                </tr>
                <tr>
                    <th scope="row">11:00 - 12:00</th>
                    <td> {{ disp_actual.5 }} </td>
                </tr>
                <tr>
                    <th scope="row">12:00 - 13:00</th>
                    <td> {{ disp_actual.6 }} </td>
                </tr>
                <tr>
                    <th scope="row">13:00 - 14:00</th>
                    <td> {{ disp_actual.7 }} </td>
                </tr>
                <tr>
                    <th scope="row">14:00 - 15:00</th>
                    <td> {{ disp_actual.8 }} </td>
                </tr>
                <tr>
                    <th scope="row">15:00 - 16:00</th>
                    <td> {{ disp_actual.9 }} </td>
                </tr>
                <tr>
                    <th scope="row">16:00 - 17:00</th>
                    <td> {{ disp_actual.10 }} </td>
                </tr>
                <tr>
                    <th scope="row">17:00 - 18:00</th>
                    <td> {{ disp_actual.11 }} </td>
                </tr>
                <tr>
                    <th scope="row">18:00 - 19:00</th>
                    <td> {{ disp_actual.12 }} </td>
                </tr>
                <tr>
                    <th scope="row">19:00 - 20:00</th>
                    <td> {{ disp_actual.13 }} </td>
                </tr>
                <tr>
                    <th scope="row">20:00 - 21:00</th>
                    <td> {{ disp_actual.14 }} </td>
                </tr>
                <tr>
                    <th scope="row">21:00 - 22:00</th>
                    <td> {{ disp_actual.15 }} </td>
                </tr>
                <tr>
                    <th scope="row">22:00 - 23:00</th>
                    <td> {{ disp_actual.16 }} </td>
                </tr>

            </tbody>
    </table>
    </div>

    <div class="col-md-3 col-sm-12 text-center">
        <table class="table table-striped table-hover table-bordered">
            <h3>Estado de disponibilidad por hora dia anterior</h3>
            <thead>
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">6:00 - 7:00</th>
                    <td> {{ disp_anterior.0 }} </td>
                </tr>
                <tr>
                    <th scope="row">7:00 - 8:00</th>
                    <td> {{ disp_anterior.1 }} </td>
                </tr>
                <tr>
                    <th scope="row">8:00 - 9:00</th>
                    <td> {{ disp_anterior.2 }} </td>
                </tr>
                <tr>
                    <th scope="row">9:00 - 10:00</th>
                    <td> {{ disp_anterior.3 }} </td>
                </tr>
                <tr>
                    <th scope="row">10:00 - 11:00</th>
                    <td> {{ disp_anterior.4 }} </td>
                </tr>
                <tr>
                    <th scope="row">11:00 - 12:00</th>
                    <td> {{ disp_anterior.5 }} </td>
                </tr>
                <tr>
                    <th scope="row">12:00 - 13:00</th>
                    <td> {{ disp_anterior.6 }} </td>
                </tr>
                <tr>
                    <th scope="row">13:00 - 14:00</th>
                    <td> {{ disp_anterior.7 }} </td>
                </tr>
                <tr>
                    <th scope="row">14:00 - 15:00</th>
                    <td> {{ disp_anterior.8 }} </td>
                </tr>
                <tr>
                    <th scope="row">15:00 - 16:00</th>
                    <td> {{ disp_anterior.9 }} </td>
                </tr>
                <tr>
                    <th scope="row">16:00 - 17:00</th>
                    <td> {{ disp_anterior.10 }} </td>
                </tr>
                <tr>
                    <th scope="row">17:00 - 18:00</th>
                    <td> {{ disp_anterior.11 }} </td>
                </tr>
                <tr>
                    <th scope="row">18:00 - 19:00</th>
                    <td> {{ disp_anterior.12 }} </td>
                </tr>
                <tr>
                    <th scope="row">19:00 - 20:00</th>
                    <td> {{ disp_anterior.13 }} </td>
                </tr>
                <tr>
                    <th scope="row">20:00 - 21:00</th>
                    <td> {{ disp_anterior.14 }} </td>
                </tr>
                <tr>
                    <th scope="row">21:00 - 22:00</th>
                    <td> {{ disp_anterior.15 }} </td>
                </tr>
                <tr>
                    <th scope="row">22:00 - 23:00</th>
                    <td> {{ disp_anterior.16 }} </td>
                </tr>

            </tbody>
    </table>
    </div>

    <div class="col-md-4 col-sm-12">

        <table class="table table-striped">
            <h3 class="text-end">Estado de disponibilidad por dia</h3>
        <thead>
                <tr>
                    <th scope="col">Dia</th>
                <th scope="col">Cantidad de vehiculos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Lunes</th>
                {% if lunes_combinado <= 5 %}
                <td> Baja </td>
                {% elif  lunes_combinado > 5 and lunes_combinado < 14 %}
                <td> Media </td>
                {% elif  lunes_combinado >= 14 %}
                <td> Alta </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Martes</th>
                {% if martes_combinado <= 5 %}
                <td> Baja </td>
                {% elif  martes_combinado > 5 and martes_combinado < 14 %}
                <td> Media </td>
                {% elif  martes_combinado >= 14 %}
                <td> Alta </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Miercoles</th>
                {% if miercoles_combinado <= 5 %}
                <td> Baja </td>
                {% elif  miercoles_combinado == 5 and miercoles_combinado < 14 %}
                <td> Media </td>
                {% elif  miercoles_combinado >= 14 %}
                <td> Alta </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Jueves</th>
                {% if jueves_combinado <= 5 %}
                <td> Baja </td>
                {% elif  jueves_combinado > 5 and jueves_combinado < 14 %}
                <td> Media </td>
                {% elif  jueves_combinado >= 14 %}
                <td> Alta </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Viernes</th>
                {% if viernes_combinado <= 5 %}
                <td> Baja </td>
                {% elif  viernes_combinado > 5 and viernes_combinado < 14 %}
                <td> Media </td>
                {% elif  viernes_combinado >= 14 %}
                <td> Alta </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Sabado</th>
                {% if sabado_combinado <= 5 %}
                <td> Baja </td>
                {% elif  sabado_combinado > 5 and sabado_combinado < 14 %}
                <td> Media </td>
                {% elif  sabado_combinado >= 14 %}
                <td> Alta </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Domingo</th>
                {% if domingo_combinado <= 5 %}
                <td> Baja </td>
                {% elif  domingo_combinado > 5 and domingo_combinado < 14 %}
                <td> Media </td>
                {% elif  domingo_combinado >= 5 %}
                <td> Alta </td>
                {% endif %}
            </tr>
        </tbody>
        </table>

        <table class="table table-striped">
            <h3 class="text-end">Numero de vehiculos promedio por dia</h3>
        <thead>
                <tr>
                    <th scope="col">Dia</th>
                <th scope="col">Autos</th>
                <th scope="col">Motos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Lunes</th>
                <td> {{ motos.0}} </td>
                <td> {{ autos.0}} </td>
            </tr>
            <tr>
                <th scope="row">Martes</th>
                <td> {{ motos.1}} </td>
                <td> {{ autos.1}} </td>
            </tr>
            <tr>
                <th scope="row">Miercoles</th>
                <td> {{ motos.2}} </td>
                <td> {{ autos.2}} </td>
            </tr>
            <tr>
                <th scope="row">Jueves</th>
                <td> {{ motos.3}} </td>
                <td> {{ autos.3}} </td>
            </tr>
            <tr>
                <th scope="row">Viernes</th>
                <td> {{ motos.4}} </td>
                <td> {{ autos.4}} </td>
            </tr>
            <tr>
                <th scope="row">Sabado</th>
                <td> {{ motos.5}} </td>
                <td> {{ autos.5}} </td>
            </tr>
            <tr>
                <th scope="row">Domingo</th>
                <td> {{ motos.6}} </td>
                <td> {{ autos.6}} </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
</div>


{% endblock content %}
